@model Punto2Quiz.Models.Persona
@{
    ViewData["Title"] = "Resultados";
}
<div id="Res"> 
    <h1 id="titRes">Resultados</h1>
    <p id="txt"> Sus ventas son: @Model.ventas 
        <br />
        Sus ubicacion es: @Model.ubi
    </p> @* /* Esto es razor, para poder mostrar el valor que tomamos del campo de texto*/
    *@
    <h2 id="subTi">@Model.Mensaje</h2>
    <br /> 
    <p id="Bon"> @Model.Bonif
    <br />
        Su total es: @Model.Total
    </p>
</div>

